{% extends 'base.html' %} {% block title %}Página Específica - {{ super() }}{%
endblock %} {% block extra_head %} {% endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Administración de Publicaciones de Picadas</h1>

  <form method="POST" action="/admin" class="mb-5">
    <div class="form-group">
      <label for="title">Título</label>
      <input
        type="text"
        class="form-control my-3"
        id="title"
        name="title"
        required
      />
    </div>
    <div class="form-group">
      <label for="excerpt">Extracto</label>
      <textarea
        class="form-control my-3"
        id="excerpt"
        name="excerpt"
        rows="3"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Publicación</button>
  </form>

  <h2 class="text-center">Publicaciones Existentes</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Extracto</th>
      </tr>
    </thead>
    <tbody>
      {% for index, item in custom_query_result %}
      <tr>
        <th scope="row">{{ index }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.excerpt }}</td>
        <!--excerpt == direccion-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
