{% extends 'base.html' %} {% block title %}Página Específica - {{ super() }}{%
endblock %} {% block extra_head %} {% endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Bienvenidos a Picadas de Comida</h1>
  <p class="text-center">Explora los mejores lugares para comer en la ciudad</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{ url_for('static', filename='images/picada1.jpg') }}"
          class="card-img-top"
          alt="Picada 1"
        />
        <div class="card-body">
          <h5 class="card-title">Picada 1</h5>
          <p class="card-text">Una descripción breve de la Picada 1.</p>
          <a href="{{ url_for('detail') }}" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{ url_for('static', filename='images/picada2.jpg') }}"
          class="card-img-top"
          alt="Picada 2"
        />
        <div class="card-body">
          <h5 class="card-title">Picada 2</h5>
          <p class="card-text">Una descripción breve de la Picada 2.</p>
          <a href="{{ url_for('detail') }}" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{ url_for('static', filename='images/picada3.jpg') }}"
          class="card-img-top"
          alt="Picada 3"
        />
        <div class="card-body">
          <h5 class="card-title">Picada 3</h5>
          <p class="card-text">Una descripción breve de la Picada 3.</p>
          <a href="{{ url_for('detail') }}" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
